@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600;700&display=swap');

header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.navigation__logo {
  width: 14rem;
}

.navigation__links {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.navigation__links li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: rgb(205, 125, 141);
}

.background__image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.hero-section {
  height: 70vh;
}

.about-products-section {
  background-color: rgb(238, 242, 243);
}

.about-products-section > div {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  font-family: Roboto Slab, serif;
}
.about-products-section ul {
    padding-inline-start: 2rem;
}
.about-products-section img {
    float: right;
    width: 30%;
    margin: 1rem;
}

.about-products-section h2 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
}

.about-products-section p {
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.allergen-free {
    width: 90%;
    margin: 0 auto;
}

.allergen-free ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2rem;
    padding: 0;
}

.allergen-free ul li {
    padding: 1rem;
    border: 0.5rem solid rgb(205, 125, 141);
    border-radius: 50%;
}


@media (min-width: 670px) {
    .allergen-free ul {
        justify-content: space-between;
    }
}

.top-products__section {
    background-color: rgb(238, 242, 243);
}

.top-products__section h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 2rem 0;
    text-align: center;
}

.top-products__container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.top-products__slideshow {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    position: relative;
    width: 330%;
    animation: slideshow 40s infinite;
}

.top-products__card {
    width: 28%;
}

@keyframes slideshow {
    0% {left: 0}
    10% {left: -34%}
    20% {left: -68%}
    30% {left: -102%}
    40% {left: -138%}
    50% {left: -172%}
    60% {left: -206%}
    70% {left: -240%}
    90% {left: 0}

}